.comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  width: 200px;
  height: 200px;
  color: #4336ca;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}
