.fullComment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  width: 600px;
  height: 200px;
  color: #4336ca;
  border-radius: 5px;
  margin: 20px 0;
}
.fullComment button{
  outline: none;
  margin-top: 10px;
  padding: 3px 7px;
  border: 1px solid red;
  border-radius: 3px;
  color: red;
  background-color: #fff;
}